@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
@import './variables.scss';
@import 'swiper/css';
@import 'swiper/css/pagination';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth
}

body {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.5;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}